
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <div class="footer__logo"><img src="/assets/images/default-monochrome.svg" alt=""/></div>
        <div class="footer__desc">Website gợi ý linh kiện cho người dùng nhanh nhất, tốt nhất và hiện đại nhất, giúp tiết kiệm thời gian và công sức cho người dùng</div>
        <div class="footer__social"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-x-twitter"></i></div>
      </div>
      <div class="footer__copyright">2025 Partify. All  rights reserved.</div>
    </div>
  </div>
</footer>