
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <h1 class="header__logo"><a href="/index.html">Partify </a></h1>
      <ul class="header__nav">
        <li><a href="/index.html">Trang Chủ</a></li>
        <li><a href="/history.html">Lịch Sử</a></li>
        <li><a href="/product.html">Linh Kiện</a></li>
        <li><a href="">Tài Liệu</a></li>
      </ul>
      <div class="header__user"><a href="/login.html"> <i class="fa-solid fa-user"></i><span> </span></a><span class="logout">Đăng Xuất</span></div>
    </div>
  </div>
</header>