
<div class="form">
  <div class="container">
    <div class="form__wrapper">
      <form class="product__bar" action="">
        <div class="select-wrapper-arrow">
          <select name="component">
            <option value="">Tất cả linh kiện</option>
            <option value="engine">Động cơ </option>
            <option value="o_bi">Ổ bi </option>
            <option value="o_lan">Ổ lăn</option>
          </select>
        </div>
        <div class="select-wrapper-arrow">
          <select name="manufacturer"> 
            <option value="">Tất cả nhà sản xuất </option>
            <option value="bandai">BANDAI</option>
            <option value="apple">APPLE</option>
          </select>
        </div>
        <input type="text" name="search" placeholder="Tìm kiếm..."/>
        <div class="select-wrapper-sort">
          <select name="sort">
            <option value="">Sắp xếp</option>
            <option value="a_to_z">Từ A tới Z   </option>
            <option value="z_to_a">Từ Z tới A </option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>