extends ./layouts/default.pug

block head 
  title Tính toán

block main
  .calculate-section-1
    .container
      .calculate-section-1__wrapper
        .calculate-section-1__title
          <i class="fa-solid fa-calculator"></i>
          h2 Quy Trình Tính Toán
          p Kết quả tính toán và linh kiện sẽ được thể hiện ở từng bước 

  .calculate-input 
    .container 
      .calculate-input__wrapper 
        .section-3__title
          h2 Thông số nhập vào
        .section-3__form
          form.section-3__form-wrapper
            div 
              label.form-label(for="F") Lực trên vòng xích tải F(N)
              input(type="text" id="F" name="F" disabled)
            div 
              label.form-label(for="p") Bước xích tải, p(mm)
              input(type="text" id="p" name="p" disabled)
            div 
              label.form-label(for="v") Vận tốc xích tải, v (m/s)
              input(type="text" id="v" name="v" disabled)
            div 
              label.form-label(for="L") Thời gian phục vụ, L(năm)
              input(type="text" id="L" name="L" disabled)
            div 
              label.form-label(for="z") Số răng đĩa xích tải dẫn, z (răng)
              input(type="text" id="z" name="z" disabled)
            div 
              label.form-label(for="T1") Moment xoắn ban đầu, T1
              input(type="text" id="T1" name="T1" disabled)
            div 
              label.form-label(for="T2") Moment xoắn sau đó, T2
              input(type="text" id="T2" name="T2" disabled)
            div 
              label.form-label(for="t1") Thời gian xoắn lúc đầu, t1
              input(type="text" id="t1" name="t1" disabled)
            div 
              label.form-label(for="t2") Thời gian xoắn lúc sau, t2
              input(type="text" id="t2" name="t2" disabled)


  .calculate-progress
    .container
      .calculate-progress__wrapper
        .calculate-progress__list
          .calculate-progress__line
          div(chapter="1").calculate-progress__item 1
          div(chapter="2").calculate-progress__item 2
          div(chapter="3").calculate-progress__item 3
          div(chapter="4").calculate-progress__item 4
          div(chapter="5").calculate-progress__item 5
          div(chapter="6").calculate-progress__item 6
          div(chapter="7").calculate-progress__item 7

  //- .calculate-temp 
  //-   .calculate-result
  //-     .container
  //-       .calculate-result__wrapper
  //-         .calculate-result__title
  //-           span 7
  //-           h3 Xác định và chọn các kiểu lắp

  //-         .calculate-result__body
  //-           .calculate-result__element
  //-             table
  //-               thead
  //-                 tr
  //-                   th(rowspan='2') STT
  //-                   th(rowspan='2') Kiểu lắp
  //-                   th(colspan='2') Trục 1
  //-                   th(colspan='2') Trục 2
  //-                   th(colspan='2') Trục 3
  //-                 tr
  //-                   th Kiểu lắp
  //-                   th Dung sai (mm)
  //-                   th Kiểu lắp
  //-                   th Dung sai (mm)
  //-                   th Kiểu lắp
  //-                   th Dung sai (mm)
  //-               tbody
  //-                 tr
  //-                   td 1
  //-                   td Bánh răng - trục
  //-                   td -
  //-                   td -
  //-                   td <span>&#x03A6;70 H<sub>7</sub>/k<sub>6</sub></span>
  //-                   td a | b
  //-                   td <span>&#x03A6;100 H<sub>7</sub>/k<sub>6</sub></span>
  //-                   td a | b
  //-                 tr
  //-                   td 2
  //-                   td Bánh vít - trục
  //-                   td -
  //-                   td -
  //-                   td <span>&#x03A6;70 H<sub>7</sub>/k<sub>6</sub></span>
  //-                   td a | b
  //-                   td -
  //-                   td - | -
  //-                 tr
  //-                   td 3
  //-                   td Ổ lăn - trục
  //-                   td <span>&#x03A6;40k<sub>6</sub></span>
  //-                   td a | b
  //-                   td <span>&#x03A6;70k<sub>6</sub></span>
  //-                   td a
  //-                   td <span>&#x03A6;95k<sub>6</sub></span>
  //-                   td a
  //-                 tr
  //-                   td 4
  //-                   td Vỏ hộp - ổ lăn.
  //-                   td <span>&#x03A6;40k<sub>6</sub></span>
  //-                   td a | b
  //-                   td <span>&#x03A6;70k<sub>6</sub></span>
  //-                   td a
  //-                   td <span>&#x03A6;95k<sub>6</sub></span>
  //-                   td a
  //-                 tr
  //-                   td 5
  //-                   td Ổ lăn - Ống lót.
  //-                   td <span>&#x03A6;40k<sub>6</sub></span>
  //-                   td a | b
  //-                   td -
  //-                   td -
  //-                   td -
  //-                   td -
  //-                 tr
  //-                   td 6
  //-                   td Ống lót - Vỏ hộp
  //-                   td -
  //-                   td a
  //-                   td -
  //-                   td -
  //-                   td -

                                  


                    
  .calculate
    //- .calculate-chapter-1-input 
    //-   .container
    //-     form.calculate-chapter-1-input__wrapper
    //-       div 
    //-         label(for="n_kn") Hiệu suất khớp nối (n_kn)
    //-         input(type="number" name="n_kn")
    //-       div
    //-         label(for="n_d") Hiệu suất của bộ truyền đai (n_d)
    //-         input(type="number" name="n_td")
    //-       div
    //-         label(for="n_brt") Hiệu suất của bộ truyền bánh răng trụ (n_brt)
    //-         input(type="number" name="n_brt")
    //-       div
    //-         label(for="n_tv") Hiệu suất của bộ truyền trục vít (n_tv)
    //-         input(type="number" name="n_tv") 
    //-       div
    //-         label(for="n_ol") Hiệu suất của một cặp ổ lăn (n_ol)
    //-         input(type="number" name="n_ol")
    //-       button(type="submit") Lưu

    //- .calculate-suggest
    //-   .container
    //-     .calculate-suggest__wrapper
    //-       .calculate-suggest__title
    //-         <i class="fa-solid fa-circle-check"></i>
    //-         h2 Linh Kiện Phù Hợp

    //-       .calculate-suggest__list
    //-         .calculate-suggest__list-title Động cơ
    //-         .calculate-suggest__list-wrapper.swiper.mySwiper
    //-           .swiper-wrapper
    //-             .calculate-suggest__item.swiper-slide
    //-               .calculate-suggest__item-name Động cơ PPL2-MiniGO
    //-               .calculate-suggest__item-manufacturer 
    //-                 |Nhà sản xuất: 
    //-                 span HCMUT 
    //-               .calculate-suggest__item-parameter
    //-                 div
    //-                   span Công suất: 
    //-                   span 100W
    //-                 div 
    //-                   span Vận tốc vòng quay: 
    //-                   span 500 vòng/phút
    //-               .calculate-suggest__item-image
    //-                 img(src="https://placehold.co/350x180?font=roboto&text=Engine" alt="")
    //-               button.calculate-suggest__item-save Lưu

    //-             .calculate-suggest__item.swiper-slide
    //-               .calculate-suggest__item-name Động cơ PPL2-MiniGO
    //-               .calculate-suggest__item-manufacturer 
    //-                 |Nhà sản xuất: 
    //-                 span HCMUT 
    //-               .calculate-suggest__item-parameter
    //-                 div
    //-                   span Công suất: 
    //-                   span 100W
    //-                 div 
    //-                   span Vận tốc vòng quay: 
    //-                   span 500 vòng/phút
    //-               .calculate-suggest__item-image
    //-                 img(src="https://placehold.co/350x180?font=roboto&text=Engine" alt="")
    //-               button.calculate-suggest__item-save Lưu

    //-             .calculate-suggest__item.swiper-slide
    //-               .calculate-suggest__item-name Động cơ PPL2-MiniGO
    //-               .calculate-suggest__item-manufacturer 
    //-                 |Nhà sản xuất: 
    //-                 span HCMUT 
    //-               .calculate-suggest__item-parameter
    //-                 div
    //-                   span Công suất: 
    //-                   span 100W
    //-                 div 
    //-                   span Vận tốc vòng quay: 
    //-                   span 500 vòng/phút
    //-               .calculate-suggest__item-image
    //-                 img(src="https://placehold.co/350x180?font=roboto&text=Engine" alt="")
    //-               button.calculate-suggest__item-save Lưu

    //-             .calculate-suggest__item.swiper-slide
    //-               .calculate-suggest__item-name Động cơ PPL2-MiniGO
    //-               .calculate-suggest__item-manufacturer 
    //-                 |Nhà sản xuất: 
    //-                 span HCMUT 
    //-               .calculate-suggest__item-parameter
    //-                 div
    //-                   span Công suất: 
    //-                   span 100W
    //-                 div 
    //-                   span Vận tốc vòng quay: 
    //-                   span 500 vòng/phút
    //-               .calculate-suggest__item-image
    //-                 img(src="https://placehold.co/350x180?font=roboto&text=Engine" alt="")
    //-               button.calculate-suggest__item-save Lưu
    //-           .swiper-pagination


    //- .calculate-result
    //-   .container
    //-     .calculate-result__wrapper
    //-       .calculate-result__title
    //-         span 2
    //-         h3 Tính chọn động cơ điện
    //-       .calculate-result__body
    //-         .calculate-result__element
    //-           h2 Bảng thông số của bộ truyền đai thang
    //-           table(style="table-layout: fixed;")
    //-             thead 
    //-               tr 
    //-                 th Thông số
    //-                 th Trị số
    //-             tbody 
    //-               tr 
    //-                 td 
    //-                   span Đường kính bánh đai nhỏ: d
    //-                   sub 1 
    //-                   span (mm)
    //-                 td 140
    //-               tr
    //-                 td 
    //-                   span Đường kính bánh đai nhỏ: d
    //-                   sub 2 
    //-                   span (mm)
    //-                 td 23.7
    //-               tr 
    //-                 td Khoảng cách trục: a (mm)
    //-                 td 3
    //-               tr 
    //-                 td Chiều dài đai: L (mm)
    //-                 td 2240
    //-               tr 
    //-                 td Góc ôm đai: (độ)
    //-                 td 158&deg
    //-               tr 
    //-                 td Số đai: z
    //-                 td 6
    //-               tr 
    //-                 td Chiều rộng đai: B (mm)
    //-                 td 120
    //-               tr 
    //-                 td
    //-                   span Lực căng ban đầu: F
    //-                   sub 0 
    //-                   span (N)
    //-                 td 5
    //-               tr 
    //-                 td
    //-                   span Lực căng ban đầu: F
    //-                   sub r
    //-                   span (N)
    //-                 td 5

    //-         .calculate-result__element
    //-           h2 Xác định kích thước chính của bộ truyền
    //-           table(style="table-layout: fixed;")
    //-             thead 
    //-               tr 
    //-                 th Thông số hình học
    //-                 th Công thức
    //-             tbody 
    //-               tr 
    //-                 td(colspan="2" style="text-align:center; font-weight:700;") Trục Vít
    //-               tr
    //-                 td 
    //-                   span Đường kính vòng chia
    //-                 td
    //-                   | d
    //-                   sub 1
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng đỉnh
    //-                 td
    //-                   | d
    //-                   sub a1
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng đáy
    //-                 td
    //-                   | d
    //-                   sub f1
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Góc xoắn ốc vít
    //-                 td &gamma; = 18&deg;
    //-               tr 
    //-                 td Chiều dài phần cắt ren trục vít
    //-                 td 
    //-                   | b
    //-                   sub 1
    //-                   |  = 133 (mm)
    //-               tr 
    //-                 td(colspan="2" style="text-align:center; font-weight:700;") Bánh Vít
    //-                 tr
    //-                 td 
    //-                   span Đường kính vòng chia
    //-                 td
    //-                   | d
    //-                   sub 2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng đỉnh
    //-                 td
    //-                   | d
    //-                   sub a2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng đáy
    //-                 td
    //-                   | d
    //-                   sub f2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Khoảng cách trục
    //-                 td
    //-                   | a
    //-                   sub &omega;
    //-                   |  = 230 (mm)
    //-               tr 
    //-                 td Đường kính lớn nhất của bánh vít
    //-                 td
    //-                   | d
    //-                   sub aM2
    //-                   |  = 390 (mm)
    //-               tr 
    //-                 td Chiều rộng của bánh vít
    //-                 td
    //-                   | b
    //-                   sub 2
    //-                   |  = 87 (mm)

    //-         .calculate-result__element
    //-           h2 Bảng thông số bánh răng
    //-           table
    //-             thead 
    //-               tr 
    //-                 th Các thông số
    //-                 th Bánh răng 1
    //-                 th Bánh răng 2
    //-             tbody 
    //-               tr 
    //-                 td Đường kính vòng chia
    //-                 td
    //-                   | d 
    //-                   sub 1
    //-                   |  = 100 (mm)
    //-                 td
    //-                   | d 
    //-                   sub 2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng đỉnh
    //-                 td
    //-                   | d 
    //-                   sub a1
    //-                   |  = 100 (mm)
    //-                 td
    //-                   | d 
    //-                   sub a2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng lăn
    //-                 td
    //-                   | d 
    //-                   sub w1
    //-                   |  = 100 (mm)
    //-                 td
    //-                   | d 
    //-                   sub w2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Đường kính vòng chân
    //-                 td
    //-                   | d 
    //-                   sub f1
    //-                   |  = 100 (mm)
    //-                 td
    //-                   | d 
    //-                   sub f2
    //-                   |  = 100 (mm)
    //-               tr 
    //-                 td Khoảng cách trục
    //-                 td(colspan="2")
    //-                   | a
    //-                   sub &omega;
    //-                   |  = a = 230 (mm)
    //-               tr 
    //-                 td Chiều rộng vành răng
    //-                 td(colspan="2")
    //-                   | b
    //-                   sub &omega;
    //-                   |  = 162 (mm)

  //- .calculate__export 
  //-   .container
  //-     a.calculate__export-button Xuất Báo Cáo


