extends ./layouts/default.pug

block head 
  title Linh Kiện

block main
  .product
    .container
      .product__wrapper

        form.product-bar

        .product-list

        .product-pagination