footer.footer
  .container
    .footer__wrapper
      .footer__content
        .footer__logo
          img(src='./assets/images/default-monochrome.svg' alt='')
        .footer__desc
          | Website gợi ý linh kiện cho người dùng nhanh nhất, tốt nhất và hiện đại nhất, giúp tiết kiệm thời gian và công sức cho người dùng
        .footer__social
          i.fa-brands.fa-facebook
          i.fa-brands.fa-instagram
          i.fa-brands.fa-x-twitter
      .footer__copyright 2025 Partify. All  rights reserved.
