header.header
  .container
    .header__wrapper
      h1.header__logo
        a(href='/index.html') Partify 
      ul.header__nav
        li
          a(href='/index.html') Trang Chủ
        li
          a(href='/history.html') Lịch Sử
        li
          a(href='/product.html') Linh Kiện
        li
          a(href='') Tài Liệu
      div(class="header__user")
        a(href="/login.html") 
          i.fa-solid.fa-user
          span 
        span.logout Đăng Xuất
