@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #F9FAFB;
  margin: 0;
}

input {
  outline: none;
  border: 0;
}

button {
  border: 0;
  outline: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.form-label {
  display: block;
  font-weight: 600;
  font-style: italic;
  color: #313131;
  margin-bottom: 10px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
  padding-bottom: 30px;
}

.swiper-pagination{
  bottom: 0px !important;
}

/* HEADER */

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header__wrapper {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
  width: 50%;
}

.header__nav li a:hover {
  color: #2563EB;
}

.header__logo{
  width: 25%;
}

.header__logo a:hover {
  color: #2563EB;
}

.header__user {
  width: 25%;
  display: flex;
  justify-content: end;
  gap: 15px;
}

/* .header__user:hover {
  
} */

.header__user a {
  /* margin-right: 15px; */
}

.header__user a:hover{
  color: #2563EB;
}

.header__user span{
  display: none;
}

.header__user .logout.active{
  display: inline;
}

.header__user .logout:hover{
  color: #2563EB;
  cursor: pointer;
}

.header__user a i {
  margin-right: 10px;
}

/* END HEADER */

/* SECTION 1 */

.section-1 {
  background: #EEF3FF;
}

.section-1__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.section-1__logo img {
  width: 150px;
}

.section-1__title {
  text-align: center;
}

.section-1__title h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.section-1__title p {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

/* END SECTION 1 */

/* SECTION 2 */

.section-2__wrapper {
  padding: 100px 0;
}

.section-2__title {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

.section-2__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.section-2__item {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-2__item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.section-2__item-title h3 {
  display: inline-block;
}

.section-2__item-title i {
  color: #2563EB;
  margin-right: 10px;
}

/* END SECTION 2 */

/* SECTION 3 */

.section-3__wrapper {
  padding: 100px 0px;
}

.section-3__title {
  text-align: center;
  margin-bottom: 40px;
}

.section-3__title h2 {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
}

.section-3__title p {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.section-3__form {
  background-color: #EEF3FF;
  padding: 60px 125px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-3__form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 110px;
  row-gap: 40px;
}

.section-3__form-wrapper div:last-child {
  grid-column: span 2;
  width: calc(100%/2 - 55px);
  margin: 0 auto;
}

.section-3__form input {
  padding: 12px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.section-3__form button {
  margin-top: 60px;
  background-color: #2563EB;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  color: white;
  border-radius: 10px;
  padding: 20px 0px;
  cursor: pointer;
}

/* END SECTION 3 */

/* SECTION 4 */

.section-4 {
  background-color: #EEF3FF;
}

.section-4__wrapper {
  padding: 100px 0;
}



/* END SECTION 4 */

/* AUTH */

.auth {
  padding: 100px 0px;
}

.auth__wrapper {
  background-color: white;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  gap: 110px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.auth__title {
  margin-bottom: 65px;
}

.auth__title h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

.auth__title div {
  color: #313131;
}

.auth__form {
  flex: 1;
}

.auth__form-element {
  margin-bottom: 24px;
}

.auth__form-element input {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
}

.auth__form-element-double {
  display: flex;
  gap: 24px;
}

.auth__form-element-double div {
  width: 100%;
}

.auth__form-element-double div input {
  width: 100%;
}

.auth__form-element-agree {
  font-weight: 600;
}

.auth__form-element-agree span {
  color: #FF8682;
}

.auth__form-element-agree label {
  display: inline-block;
}

.auth__form-element-agree input {
  width: auto;
}

.auth__form-element-login {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.auth__form-element-login label {
  display: inline-block;
}

.auth__form-element-login input {
  width: auto;
}

.auth__form-element-login a {
  color: #FF8682;
}

.auth__form button {
  width: 100%;
  background-color: #2563EB;
  padding: 15px 0px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.auth__form p {
  font-weight: 600;
  text-align: center;
}

.auth__form p a {
  color: #FF8682;
}

/* END AUTH */

/* PRODUCT */

.product__bar {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  gap: 25px;
  border-radius: 10px;
}

.product__bar select {
  background-color: #D9D9D9;
  color: #666666;
  border: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 50px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 20px;
  font-weight: 700;
}

.product__bar input {
  flex: 1;
  background-color: #F9FAFB;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 15px;
  border-radius: 10px;
  font-size: 20px;
}

.select-wrapper-arrow {
  position: relative;
  display: inline-block;
}

.select-wrapper-arrow::after {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-size: 1rem;
  font-weight: 900;
  top: 25px;
  right: 15px;
  position: absolute;
}

.select-wrapper-sort {
  position: relative;
  display: inline-block;
}

.select-wrapper-sort::after {
  content: "\f0dc";
  font-family: "Font Awesome 6 Free";
  font-size: 1rem;
  font-weight: 900;
  top: 25px;
  right: 15px;
  position: absolute;
}

.product__list {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product__item {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product__item-image {
  width: 100%;
  margin-bottom: 30px;
}

.product__item-image img {
  width: 100%;
  aspect-ratio: 400/180;
  object-fit: contain;
  object-position: center;
}

.product__item-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.product__item-content {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.product__item-detail {
  background-color: #2563EB;
  padding: 11px 0px;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
}

.product__pagination {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.product__pagination-arrow {
  width: 50px;
  height: 50px;
  color: #C4CDD5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #DFE3E8;
  border-radius: 4px;
}

.product__pagination-list {
  display: flex;
  gap: 20px;
}

.product__pagination-item {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #DFE3E8;
  border-radius: 4px;
  color: black;
}

.product__pagination-item:hover {
  color: #2563EB;
  border: 1px solid #2563EB;
}

.product-detail {
  margin-bottom: 100px;
}

.product-detail__wrapper {
  padding: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.product-detail__image {
  border-radius: 10px;
  width: calc(50% - 30px / 2);
  overflow: hidden;
}

.product-detail__image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.product-detail__content {
  width: calc(50% - 30px / 2);
}

.product-detail__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.product-detail__manufacturer {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
}

.product-detail__suggest {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.product-detail__suggest i {
  color: #FBBF24;
  margin-right: 5px;
}

.product-detail__suggest span {
  color: #14AE5C;
}

.product-detail__desc {
  margin-bottom: 50px;
}

.product-detail__detail {
  font-size: 18px;
}

.product-detail__detail:first-child {
  margin-bottom: 15px;
}

.product-detail__detail span:first-child {
  font-weight: 700;
  margin-right: 10px;
}

.product-detail__param-title{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-detail__parm-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.product-detail__param-item{
  width: 100%;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 10px;
}
/* END PRODUCT */

/* CALCULATE */

.calculate-section-1 {
  background-color: #EEF3FF;
}

.calculate-section-1__wrapper {
  padding: 50px 0;
}

.calculate-section-1__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.calculate-section-1__title i {
  font-size: 70px;
}

.calculate-section-1__title h2 {
  font-size: 40px;
}

.calculate-section-1__title p {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.calculate-progress__wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.calculate-progress__line {
  width: 100%;
  height: 5px;
  background-color: #2563EB;
  border-radius: 20px;
  position: absolute;
  bottom: 50%;
  z-index: 1;
}

.calculate-progress__list {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}

.calculate-progress__item {
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 40px;
  font-weight: 700;
  background-color: #d9d9d9;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.calculate-progress__item.active {
  background-color: #2563EB;
}

.calculate-suggest {
  margin-bottom: 100px;
}

.calculate-suggest__wrapper {
  padding: 50px 80px;
  background-color: #EEF3FF;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.calculate-suggest__title {
  text-align: center;
  margin-bottom: 50px;
}

.calculate-suggest__title i {
  font-size: 50px;
  color: #14AE5C;
  margin-right: 10px;
}

.calculate-suggest__title h2 {
  display: inline-block;
  font-size: 35px;
}

.calculate-suggest__list-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.calculate-suggest__item {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  background-color: white;
  border-radius: 10px;
  display: inline-block;
}

.calculate-suggest__item-parameter {
  margin-bottom: 15px;
}

.calculate-suggest__item-parameter div{
  font-style: italic;
}

.calculate-suggest__item-parameter div span:first-child{
  font-weight: 700;
}

.calculate-suggest__item-name {
  font-size: 20px;
  font-size: italic;
  font-weight: 600;
  margin-bottom: 10px;
}

.calculate-suggest__item-manufacturer {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.calculate-suggest__item-image {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.calculate-suggest__item-image img {
  width: 100%;
  aspect-ratio: 350/180;
  object-fit: contain;
}

.calculate-suggest__item-save {
  width: 100%;
  background-color: #d6d6d6;
  padding: 15px 0px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  color: black;
  border-radius: 10px;
}

.calculate-suggest__item-save:hover{
  color: white;
  background-color: #2563EB;
}

.calculate-suggest__item-save.active {
  color: white;
  background-color: #2563EB;
}

.calculate-result {
  margin-bottom: 50px;
}

.calculate-result__wrapper {
  padding: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.calculate-result__title {
  padding-bottom: 35px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.calculate-result__title span {
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2563EB;
  color: white;
  border-radius: 9999px;
  font-weight: 700;
  margin-right: 10px;
}

.calculate-result__title h3 {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
}

.calculate-result__body {
  /* min-height: 300px; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.calculate-result__element h2{
  margin-bottom: 15px;
  color: #2563EB;
  text-align: center;
}

.calculate-result__body table{
  width: 100%;
  /* table-layout: fixed;  */
  font-size: 18px;
}

.calculate-result__body table th,td{
  padding: 10px;
}

.calculate__export-button{
  display: block;
  margin-bottom: 50px;
  width: 100%;
  background-color: #2563EB;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

/* .calculate__export-button:hover{
  color: #2563EB;
  background-color: white;
} */


/* END CALCULATE */

/* HISTORY */

.history__wrapper {
  padding: 100px 0;
}

.history__title {
  font-size: 40px;
  margin-bottom: 50px;
}

.history__title i {
  margin-right: 15px;
}

.history__title h2 {
  display: inline-block;
}

.history__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

.history__item {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.history__item-status.success {
  color: #14AE5C;
}

.history__item-status.fail {
  color: #EF5350;
}

.history__item-detail {
  padding: 15px;
  font-weight: 700;
  color: white;
  background-color: #2563EB;
  border-radius: 10px;
  display: block;
}



/* END HISTORY */

/* FOOTER  */

.footer {
  background-color: #111827;
}

.footer__wrapper {
  padding: 50px 0px;
  color: white;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  border-bottom: 1px solid white;
}

.footer__logo {
  margin-bottom: 15px;
}


.footer__logo img {
  width: 150px;
}

.footer__desc {
  width: 80%;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__social {
  display: flex;
  gap: 30px;
  font-size: 30px;
}

.footer__copyright {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

/* END FOOTER */