doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    block head
  body 

    include ../partials/header

    block main

    include ../partials/footer

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js") 
    script(src="/assets/js/script.js") 
